:root {
    --bg-color: #F9F9FB;
    --text-color: #000000;
    --hover-bg-color: #dedede; /*rgba(0, 0, 0, 0.05); */
    --text-border-color: #046bab;
    --text-bg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #ffffff;
        --hover-bg-color: rgba(255, 255, 255, 0.17);
        --text-border-color: #0ca2ff84;
        --text-bg-color: #1e1e1e;

    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    overflow: auto;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#tabs-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.tab-row {
    display: flex;
    align-items: left;
    gap: 0.75rem;
    padding: 0.33rem;
    cursor: pointer;
    width: 96%;
}

.tab-row.focused {
    background-color: var(--hover-bg-color);
}

.tab-row img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}

input[type="text"] {
    width: 94%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-style: none;
    outline: 2px solid var(--text-border-color);
    border-radius: 0.25rem;
    background-color: var(--text-bg-color);
    color: var(--text-color);
}